$background: #f0f0f0;

.App {
  max-width: 1200px;
  margin: 0 auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0 5px 0 0;
    display: inline-block;
    width: 140px;
  }

  span {
    margin: 0 5px 0 0;
    display: inline-block;
    width: 140px;
  }

  .hidden {
    visibility: hidden;
  }

  .btn-row {
    display: flex;
    align-items: center;

    button {
      margin-bottom: 10px;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  label {
    display: block;
    cursor: pointer;
    div {
      width: 450px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      font-feature-settings: 'smcp';
      background-color: $background;
      border-radius: 6px;
      &.label-0 {
        background-color: #e1f9ce;
      }
    }
  }

  img {
    max-width: 500px;
    height: auto;
  }

  .filters-container {
    display: flex;
    align-items: flex-start;

    & > div {
      flex: 1;
      &:last-child {
        margin-left: 20px;
        min-width: 310px;
      }
    }

    input[type='number'],
    input[type='text'] {
      margin: 5px 0;
    }

    select {
      width: 300px;
    }

    code {
      display: block;
      margin-top: 20px;
      padding: 5px;
      background-color: $background;
      border-radius: 6px;
      width: 300px;
    }
  }
}
